<p>Oi <%= @resource.email %>!</p>

<p>Alguém requisitou alteração de senha, voce pode confirmar no link.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou, ignore o e-mail.</p>
<p>Sua senha não será alterada enquanto não acessar o link acima.</p>
