<p>Oi <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada.</p>

<p>Acesse o link para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear conta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
